@model Project6.Models.Document

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>



@using (Html.BeginForm("EditDocument","Mainmenu"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Document</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @if (Model.ProgressStatus == (int)Session["Role"])
        {


            <div class="form-group">
                <p>
                    <strong>@Html.LabelFor(model => model.Title)=hjhj</strong>
                    @Html.DisplayFor(model => model.Title)
                    @Html.DisplayFor(model => model.User.Username)
                </p>

            </div>

            <div class="form-group">
                <h4>@Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
                <div class="col-md-10">
                    @Html.TextAreaFor(model=>model.Content, new { @class = "ckeditor" })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

           

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        }
        else{ 
        
            @Html.ValidationMessage("Documents", "Unregistered Action", new { @class = "text-danger" })
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
