@model Project6.Models.ViewModel

@{
    ViewBag.Title = "Experiment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manager View</h2>


<table class="table table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.User.UserRole)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.User.UserRegistration)
        </th>
    </tr>

    @foreach (var item in ViewBag.TotalUsers)
    {
        <tr>
            <td>
                @item.Username
            </td>

            <td>
                @item.UserRole
            </td>

            <td>
                @item.UserRegistration
            </td>
            <td>
                @Html.ActionLink("Accept", "AcceptUser", new { id = item.Id }, new { @class = "btn btn-success", @role = "button" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", @role = "button" , @onclick = "return confirm('Are you sure?');" })
            </td>
        </tr>
    }



</table>

<hr />
<table class="table table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.Document.Title)
        </th>

        <th>
            From:
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Document.SubmitDate)
        </th>
    </tr>

    @foreach (var item in ViewBag.documents)
    {
        <tr>
            <td>
                @item.Title
            </td>

            <td>
                @item.User.Username
            </td>

            <td>
                @item.SubmitDate
            </td>
            <td>
                @Html.ActionLink("View", "ViewDocument", new { id = item.Id }, new { @class = "btn btn-info", @role = "button" })
            </td>
        </tr>
    }



</table>
