@model Project6.Models.ViewModel

@{
    ViewBag.Title = "Experiment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Experiment</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.User.Username)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.User.UserRole)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.User.UserRegistration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.TotalUsers)
    {
        <tr>
            <td>
                @item.Username
            </td>

            <td>
                @item.UserRole
            </td>

            <td>
                @item.UserRegistration
            </td>
            <td>
                @Html.ActionLink("Accept", "AcceptUser", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure?');" })
            </td>
        </tr>
    }



</table>

<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Document.Title)
        </th>

       <th >
           From:
       </th>    

        <th>
            @Html.DisplayNameFor(model => model.Document.SubmitDate)
        </th>
    </tr>

    @foreach (var item in ViewBag.documents)
    {
        <tr>
            <td>
                @item.Title
            </td>

            <td>
                @item.User.Username
            </td>

            <td>
                @item.SubmitDate
            </td>
            <td>
                @Html.ActionLink("View", "ViewDocument", new { id = item.Id })
            </td>
        </tr>
    }



</table>
