@model IEnumerable<Project6.Models.Document>

@{
    ViewBag.Title = "OtherRolesView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome @Session["username"]</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            From
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitDate)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmitDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success", @role = "button" }) 
            @Html.ActionLink("View","ViewDocument", new { id = item.Id }, new { @class = "btn btn-info", @role = "button" })

        </td>
    </tr>
}

</table>
