@model Project6.Models.Document

@{
    ViewBag.Title = "ViewDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Document  @Model.Id</h4>
    <hr />
    @if (Model.ProgressStatus == (int)Session["Role"])
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.Raw(Model.Content)
            </dd>
        </dl>
        <p>
            @if (Model.ProgressStatus == 5)
            {
                @Html.ActionLink("Accept", "AcceptDocument", new { id = Model.Id }, new { @class = "btn btn-success", @role = "button" })
                @Html.ActionLink("Decline", "DeclineDocument", new { id = Model.Id }, new { @class = "btn btn-danger", @role = "button" ,@onclick = "return confirm('Are you sure?');" })
            }
        </p>
    }
    else
    {
        @Html.ValidationMessage("Documents", "Unregistered Action", new { @class = "text-danger" })
    }
</div>

