<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ckeditor")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        @Html.ActionLink("Project 6", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" @*id="navbarColor01*@">
            <div class="navbar-nav">
                @if (HttpContext.Current.Session["Username"] == null)
                {
                    <a class="nav-link">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                }
                else
                {
                    <a class="nav-link">@Html.ActionLink("Menu", "Index2", "MainMenu", new { area = "" }, new { @class = "navbar-brand" })</a>
                }
            </div>

            <div class="navbar-nav ml-auto">
                @if (HttpContext.Current.Session["Username"] == null)
                {
                    <a class="nav-link">@Html.ActionLink("Register", "Register", "User", new { area = "" }, new { @class = "navbar-brand" })</a>
                }

                @if (HttpContext.Current.Session["Username"] == null)
                {
                    <a class="nav-link">@Html.ActionLink("Login", "Login", "User", new { area = "" }, new { @class = "navbar-brand" })</a>
                }
                else
                {
                    <a class="nav-link">@Html.ActionLink("Logout", "Logout", "MainMenu", new { area = "" }, new { @class = "navbar-brand" })</a>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
